<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>		<!--Adding Angular JS Framework File-->	
        <style>
            h1{
                color: green;
                font-family: sans-serif;
            }
            body{
                color: red;
                background-color: wheat;
                font-family:cursive;
            }
        </style>          
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>GammaAnalytics User Registration System - Login</title>
    </head>
	<body ng-app="validateApp">											<!--This body is the Owner of an ANGULAR JS Application "validateApp"-->
        <a href="index.jsp"><input type="submit" value="HOME"/></a>
    <center>
        <h1>GammaAnalytics User Registration System</h1>
        <h2>Dear User, Kindly log in to the System</h2>
	</center>
        <form name="LoginForm" id="LoginForm" action="Login.jsp" method="POST" novalidate>
	<center>
        <table>
			<tr><td>--------------------------</td><td>------------------------------------</td><td>-------------------------------------------------</td></tr>
            <tr><td>E-Mail(Username):</td> <td><input type = "email" id="emailTextBox" name="emailTextBox" ng-model="email" ng-required="true"/></td>
			<td>
			<span style="color:red" ng-show="LoginForm.emailTextBox.$invalid">Email is invalid</span>
			<span ng-show="LoginForm.emailTextBox.$error.required">and it is required</span>
			</td></tr>
			
            <tr><td>Password:</td><td><input type="password" id="passwordTextBox" name="passwordTextBox" ng-model="password" ng-required="true"/></td>
			<td>
			<span style="color:red" ng-show="LoginForm.passwordTextBox.$error.required">Password is required</span>
			</td></tr>
			<tr><td>--------------------------</td><td>------------------------------------</td><td>-------------------------------------------------</td></tr>
        </table>
        <br><input type="submit" value="Login" ng-disabled="!(!LoginForm.$error.required && !LoginForm.$invalid)"/> <!--Enables the Submit Button only if all the Validations succeed! Here we use "ng-disabled" directive for that!!-->
	</center>
        </form>
	<center>
        <br><a href="ForgotPasswordForm.html">Forgot password?</a>
	</center>
	<script>
		var app = angular.module('validateApp', []);
			app.controller('validateCtrl', function($scope) {			
				$scope.passwordValidity=true;
			});	
	</script>
    </body>
</html>
